.user-profile-page-container {
  height: 100vh;
  margin-left: 15em;
  padding-top: 6em;
  padding-left: 10em;
  padding-right: 5em;
  background-color: #1c1c1c;
}

.user-profile-top-section {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 1em;
}

.user-profile-info {
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.user-profile-username {
  color: white;
}

.user-circle {
  color: white;
  font-size: 7em;
}

.user-profile-follow-button {
  color: var(--dark);
  background-color: #1ed760;
  border: none;
  min-width: 80px;
  min-height: 25px;
  border-radius: 21px;
  font-weight: bold;
}

.user-profile-follow-button:hover {
  opacity: 0.8;
  cursor: pointer;
  transform: scale(1.1);
}

.user-profile-following-button {
  background-color: #b3b3b3;
  border: none;
  min-width: 80px;
  min-height: 25px;
  border-radius: 21px;
  font-weight: bold;
}

.user-profile-following-button:hover {
  opacity: 0.8;
  cursor: pointer;
  transform: scale(1.1);
  background-color: #ff073a;
}

.user-follower-count {
  background-color: #1ed760;
  padding: 10px;
  border-radius: 21px;
  font-weight: bold;
}

.not-following-div {
  display: flex;
  width: 600px;
  justify-content: space-between;
  align-items: center;
}

.not-following-message {
  color: white;
  font-weight: lighter;
}

.musical-note {
  color: white;
  font-size: 30px;
}
