.searchFullPage {
    background: rgb(18, 18, 18);
    max-width: 100%;
    margin-left: 200px;
    background-color: #1c1c1c;
    padding-top: 90px;
    padding-left: 100px;
    height: 100vh;
    overflow-y: scroll;
}

.resultsMainContainer {
    color: white;
    height: 100vh;
    background-color: #1c1c1c;
    overflow-y: scroll;
    padding-bottom: 60px;
}

.songResultsDetailContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    color: white;
    padding: 0px 32px;
    margin-right: 100px;
    overflow-y: scroll;
}

.songResultsImageContainer {
    height: 40px;
    width: 40px;
  }

.songResultsImage {
    object-fit: cover;
    height: 40px;
    width: 40px;
}

.songResultsNameContainer {
    align-items: center;
}

.results-playlists-cards{
    background-color: #1c1c1c;
    display: grid;
    margin-bottom: 150px;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 80px;
    column-gap: 1em;
    box-shadow: white;
    padding-top: 20px;
}

.results-playlist-cards-text {
    font-family:NexaExtraLight;
    font-size: 14px;
    margin-left: 10px;
    font-family: "NexaLight";
}

.playlist-card-img {
    width: 200px;
    height: 200px;
    justify-content: center;
    box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
    border-radius: 4px;
}

.results-playlists-outer-indiv-card{
    width: 200px;
    height: 275px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    background-color: #171717;
    border-radius: 12px;
    border-width: 5px;
    border-style: solid;
    border-radius: 12px;
    border-color: #171717;
    box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%);
    text-decoration: none;
    color: white;
}

.results-playlists-outer-indiv-card:visited{
    text-decoration: none;
    color: white;
}
.noResultsSearchText {
    font-family: 'NexaHeavy';
    color: white;
}

.preSearchBrowsePlaylistsText{
    font-family: 'NexaHeavy';
}


.searchFormContainer {
    margin-bottom: 10px;
}

.searchFormContainer form{
    width: 200px
}

.search-bar-main-search {
    width: 364px;
    height: 40px;
    border-radius: 50px;
    border: none;
    padding-left: 40px;
}


.songResultTitleText{
    font-family: 'NexaHeavy';
    color: white;
}

.playlist-song-add-btn {
    color: white;
    font-family: 'NexaThin';
    font-size: 30px;
    border: none;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
}

.playlist-song-add-btn:hover {
    border: solid 1px white;
    border-radius: 10px;
}

.playlist-add-song-btn {
    color: white;
    font-family: 'NexaThin';
    font-size: 13px;
    border: none;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    padding: 7px;
    border: solid 1px white;
    border-radius: 10px;
    box-sizing: border-box;
}

.playlist-add-song-btn:hover {
    border: solid 2px white;
    border-radius: 10px;
}


.playlistSearchFullPage{
    max-width: 100%;
    background-color: #1c1c1c;
    padding-left: 250px;
    max-height: 50vh;
    overflow-y: scroll;
}

.playlistSearchFormContainer{
    padding-right: 250px;
    height: 60px;
}

.playlistSearchFormContainer input{
    width: 364px;
    height: 40px;
    border-radius: 50px;
    border: none;
    margin-top: 10px;

}

.playlistSearchFormContainer input::placeholder{
    padding-left: 40px;
}

.playlistSearchFormContainer input::text{
    padding-left: 40px;
}

.playlist-detail-grey-text {
    color: white;
}
