.playlist-detail-container {
  /* width: 100vw;
  height: 100vh; */
  padding: 10px 10px;
  background-image: linear-gradient(180deg, rgb(212, 55, 55), black);
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: 200px;
  padding-left: 100px;
}

.playlist-top-detail-container {
  display: flex;
}

.playlist-detail-img-container {
  width: 250px;
  height: 250px;
}

.playlist-detail-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.playlist-detail-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2em;
}

.playlist-detail-dots-container {
  display: flex;
  align-items: center;
  margin-top: 2em;
}

.playlist-detail-dot-button {
  border: none;
  background-color: transparent;
}

.playlist-detail-dots {
  font-size: 2em;
  color: #b3b3b3;
}

.playlist-detail-dots:hover {
  color: white;
  cursor: pointer;
}

.playlist-text {
  margin-top: 8em;
  font-weight: bold;
  font-size: 0.8em;
}

.playlist-detail-username {
  font-weight: bold;
  font-size: 0.8em;
}

.playlist-detail-playlist-name {
  font-weight: bold;
  font-size: 4em;
}

.playlist-detail-table-container {
  margin-top: 2em;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.playlist-detail-table-container table {
  border-spacing: 20px 20px;
}

.playlist-detail-table-container th {
  text-align: left;
  font-weight: lighter;
  color: #b3b3b3;
  font-size: 0.8em;
}

.playlist-detail-table-header {
  width: 200px;
}

.playlist-detail-top-border {
  width: 100%;
  outline: thin solid rgb(201, 197, 197);
}

.playlist-detail-table-container td {
  text-align: left;
}

.playlist-detail-table-header-play {
  width: 50px;
}
.playlist-detail-table-header-delete {
  width: 50px;
}

.playlist-detail-table-header-image {
  width: 50px;
  text-align: center;
}

.playlist-detail-grey-text {
  color: #b3b3b3;
}

.no-text-dec {
  text-decoration: none;
  color: #b3b3b3;
}

.no-text-dec:hover {
  color: white;
}

.playlist-song-img-container img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.playlist-playPause {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.1em;
  color: #fff;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.playlist-playPause:hover {
  transform: scale(1.1);
}

.playlist-detail-delete-song {
  border: none;
  padding: 10px;
  border-radius: 21px;
  background-color: #242424;
  color: red;
  font-weight: lighter;
}

.playlist-detail-delete-song:hover {
  background-color: rgb(105, 26, 26);
  border: 1px solid black;
  transform: scale(1.1);
  cursor: pointer;
}
