.signUpBlackBox {
  margin: auto;
  width: 500px;
  border-radius: 10px;
}

.signUpElements {
  display: flex;
  flex-direction: column;
  background-color: rgb(18, 18, 18);
  align-items: center;
  padding: 30px 20px;
}

.formWelcomeBoxTxt {
  color: white;
  text-align: center;
  line-height: 40px;
  inline-size: 250px;
  overflow-wrap: break-word;
}

.formMainDiv {
  width: 300px;
  align-content: center;
}

.forminputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.formInputIndiv {
  width: 100%;
  background-color: rgb(51, 51, 51);
}

.formInputIndiv::placeholder {
  color: rgb(182, 182, 182);
  font-size: 12px;
}

.forminputs input {
  padding: 15px 10px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 15px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
}

.submitBtn {
  padding: 15px 10px 15px 10px;
  width: 100%;
  color: white;
  background: #1ed760;
  font-size: 15px;
  letter-spacing: 2px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.orBox {
  margin-top: 25px;
  color: white;
}

.loginFromSignUp {
  color: white;
  display: flex;
  align-items: center;
}

.loginFromSignUpBtn {
  margin-left: 10px;
}

.demoUserLogBtn {
  padding: 15px 10px 15px 10px;
  width: 100%;
  color: white;
  background: #1ed760;
  font-size: 10px;
  letter-spacing: 2px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.loginButton {
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 2px;
    font-family: 'NexaHeavy';
    font-size: 12px;
    cursor: pointer;
}

.Modal {
  overflow: hidden;
  border-radius: 12px;
}
