.searchFullPage {
    background: rgb(18, 18, 18);
    max-width: 100%;
    margin-left: 200px;
    background-color: #1c1c1c;
    /* width: 100%; */
    padding-top: 90px;
    padding-left: 100px;
    height: 100vh;
    overflow-y: scroll;
}

.resultsMainContainer {
    color: white;
    height: 100vh;
    background-color: #1c1c1c;
    /* margin-bottom: 550px; */
    overflow-y: scroll;
    padding-bottom: 60px;
}

/* .songResultsMainContainer {
    width: 100vw;
} */

.songResultsDetailContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    color: white;
    padding: 0px 32px;
    margin-right: 100px;
    /* margin-bottom: 350px; */
    overflow-y: scroll;
}

.songResultsImageContainer {
    height: 40px;
    width: 40px;
  }

.songResultsImage {
    object-fit: cover;
    height: 40px;
    width: 40px;
}

.songResultsNameContainer {
    align-items: center;
}

.results-playlists-cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 225px);
    grid-template-rows: auto;
    place-content: center;
    gap: 1em;
}
.results-playlist-cards-text {
    font-family:NexaExtraLight;
    font-size: 16px;
    margin-left: 10px;
}

.playlist-card-img {
    width: 200px;
    height: 200px;
    justify-content: center;
}

.results-playlists-outer-indiv-card{
    border: 12px solid white
}

.noResultsSearchText {
    font-family: NexaHeavy;
}

.preSearchBrowsePlaylistsText{
    padding-left: 100px;
    font-family: NexaHeavy;
}

.search-bar-main-search {
    margin-left: 100px;
}

.searchFormContainer {
    margin-bottom: 10px;
}

.searchFormContainer form{
    width: 200px
}

.search-bar-main-search {
    width: 364px;
    height: 40px;
    border-radius: 50px;
    border: none;
    padding-left: 40px;
}

/* .searchFormContainer form{
    display: flex;
    flex-direction: row;

} */
/* .search-bar-main-search::placeholder{
    padding-left: 40px;
} */

/* .search-bar-main-search::text{
    padding-left: 40px;
} */
/* .preSearchMainContainer {
    position: absolute;
    margin-left: 180px;
} */
