.searchFullPage {
    background: rgb(18, 18, 18);
    width: 100vw;
    position: absolute;
    margin-left: 180px;
}

.resultsMainContainer {
    width: 100vw;
    color: white;
}

.songResultsMainContainer {
    width: 100vw;
}

.songResultsDetailContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    color: white;
    padding: 0px 32px;
    margin-right: 50px;
}

.songResultsImageContainer {
    height: 40px;
    width: 40px;
  }

.songResultsImage {
    object-fit: cover;
    height: 40px;
    width: 40px;
}

.songResultsNameContainer {
    align-items: center;
}

.results-playlists-cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 225px);
    grid-template-rows: auto;
    place-content: center;
    gap: 1em;
}
.results-playlist-cards-text {
    font-family:NexaExtraLight;
    font-size: 16px;
    margin-left: 10px;
}

.playlist-card-img {
    width: 200px;
    height: 200px;
    justify-content: center;
}

.results-playlists-outer-indiv-card{
    border: 12px solid white
}

.noResultsSearchText {
    font-family: NexaHeavy;
}

.preSearchBrowsePlaylistsText{
    padding-left: 100px;
    font-family: NexaHeavy;
}

.search-bar-main-search {
    margin-left: 100px;
}

/* .preSearchMainContainer {
    position: absolute;
    margin-left: 180px;
} */