.user-profile-page-container {
  padding-top: 90px;
  padding-left: 300px;
  padding-bottom: 100px;
  background-color: #1c1c1c;
  max-width: 100%;
  overflow-y: scroll;
  height: 100vh;
}

.user-profile-page-container::-webkit-scrollbar {
  display: none;
}

.user-profile-top-section {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 1em;
  font-family: "NexaHeavy";
}

.user-profile-info {
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.user-profile-username {
  color: white;
  font-family: "NexaHeavy";
  font-size: 35px;
}

.user-circle {
  color: white;
  font-size: 7em;
}

.user-profile-follow-button {
  color: var(--dark);
  background-color: #1ed760;
  border: none;
  min-width: 80px;
  min-height: 25px;
  border-radius: 21px;
  font-weight: bold;
}

.user-profile-follow-button:hover {
  opacity: 0.8;
  cursor: pointer;
  transform: scale(1.1);
}

.user-profile-following-button {
  background-color: #b3b3b3;
  border: none;
  min-width: 80px;
  min-height: 25px;
  border-radius: 21px;
  font-weight: bold;
}

.user-profile-following-button:hover {
  opacity: 0.8;
  cursor: pointer;
  transform: scale(1.1);
  background-color: #ff073a;
}

.following-info {
  display: flex;
}

.user-follower-count {
  background-color: #1ed760;
  padding: 10px;
  border-radius: 21px;
  font-weight: bold;
}

.user-following-count {
  background-color: #1ed760;
  padding: 10px;
  border-radius: 21px;
  font-weight: bold;
  margin-left: 0.5em;
  position: relative;
}

.user-following-dropdown {
  display: none;
  position: absolute;
  background-color: red;
  min-width: 160px;
  margin-top: 50px;
  margin-left: 120px;
  box-shadow: 0px 8px 16px 0px white;
  z-index: 1;
}

.user-following-username {
  color: white;
  text-decoration: none;
  display: block;
}

.user-following-count:hover ~ .user-following-dropdown {
  display: block;
}

.not-following-div {
  display: flex;
  width: 600px;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.not-following-message {
  color: white;
  font-size: 20px;
  font-family: "NexaThin";
}

.musical-note {
  color: white;
  font-size: 30px;
}
