.main-navbar-container {
    height: 64px;
    background-color: rgb(15, 15, 15);
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.main-navbar-logout-items-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* margin-top: 10px; */
    padding-top: 20px;
    padding-right: 15px;
}

.navbar-login-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 15px;
    font-family: 'NexaExtraBold';

}


.navbar-line {
    border: 1px solid white;
    margin-left: 20px;
    margin-right: 20px;
}
.navbar-signup-login-container {
    display: flex;
    flex-direction: row;
}

#demo-btn {
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 2px;
    /* text-decoration: underline; */
    font-family: 'NexaExtraBold';
    font-size: 12px;
    cursor: pointer;
}

.navbar-login-btn {
    border-radius: 50px;
    height: 32px;
    white-space: nowrap;
    padding-bottom: 29px;
    background-color: #000;
    border: none;
}

.navbar-btn-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: 8px
}


.navbar-user-div {
    width: 28px;
    height: 28px;
}

.navbar-username-container{
    font-size: 0.875rem;
    color: #fff;
    font-family: 'NexaBold';
}

.navbar-user-div svg{
    width: 28px;
    height: 28px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
    color: #fff

}

.navbar-drpdwn-btn svg{
    width: 16px;
    height: 20px;
    color: #fff;
}

.navbar-menu-div {
    background-color: #282828;
    /* height: 300px; */
    padding: none;
    z-index: 9999;
    position: absolute;
    inset: 10px 0px auto auto;
    margin: 0px;
    transform: translate(-18px, 56px);
    border-radius: 3px;
    box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%);
    min-width: 196px;
}

.navbar-menu-div div{
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    background-color: none;
}

.navbar-user-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 1px 6px;

}

.navbar-user-btn svg{
    width: 20px;
    height: 20px;
    color: white;
    font-family: 'NexaLight';
}

.navbar-profile-head{
    color: white;
    font-family: 'NexaLight';
    font-size: 16px;
}

.navbar-menu-logout-btn button{
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'NexaLight';
    font-size: 15px;
    margin: 15px 0px;
}

.abt-btn{
    padding-top: 5px;
}
