/* @font-face {
    font-family: 'nexa-thin';
    src: url('../../font/Nexa/NexaThin.otf');
    font-weight: normal;
    font-style: normal;
    }

body {
    font-family: 'Nexa', Helvetica, Arial, sans-serif;
} */

:root {
    --darkest: #212121;
    --dark: #121212;
    --grey: #535353;
    --light-grey: #b3b3b3;
    --happy: #EDFF00FF;
    --energetic: #f037a5;
    --romantic: #F62681;
    --serene: #4b917d;
    --chill: #cdf564;
    --gloomy: #00A4CCFF;
    --angry: #ff073a;
    --heartbreak: #F37778;
    --productive: #963CBDFF;
}

.moodsContainer {
    position: absolute;
    margin-left: 180px;
    background-color: #1c1c1c;
    width: 100%;
}

.h3Div {
    background-color: #1c1c1c;
    /* justify-content: center; */
    color: white;
    padding-top: 50px;
    left: 200%;
    padding-left: 100px;
    font-weight: 100;
    font-size: 30px;
    /* margin-left: 260px; */
}

.homePageMoodCardsMainContainer {
    background-color: #1c1c1c;
    padding: 5rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* float: right; */
    /* position: absolute; */
}

.homePageMoodCardH,
.homePageMoodCardE,
.homePageMoodCardR,
.homePageMoodCardS,
.homePageMoodCardCh,
.homePageMoodCardG,
.homePageMoodCardA,
.homePageMoodCardHeart,
.homePageMoodCardP {
    width: 170px;
    height: 270px;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 30px;
    /* margin-left: 25px; */
    margin-right: 110px;
    background-color: #171717;
    border-radius: 12px;
    border-width: 5px;
    border-style: solid;
    border-radius: 12px;
    border-color: #171717;
}

.homePageMoodCardH:hover {
    cursor: pointer;
    opacity: 1;
    background: #2a2a2a;
    /* transition: background-color .3s ease; */
    border-width: 5px;
    border-style: solid;
    border-radius: 12px;
    border-color: var(--happy);
    transition-property: transform box-shadow !important;
	transition-duration: 1s !important;
	transition-timing-function: cubic-bezier(.3,0,0,1) !important;
	box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    /* transform: scale(1.1); */
}
.homePageMoodCardE:hover {
    cursor: pointer;
    opacity: 1;
    background: #2a2a2a;
    border-width: 5px;
    border-style: solid;
    border-radius: 12px;
    border-color: var(--energetic);
    transition-property: transform box-shadow !important;
	transition-duration: 1s !important;
	transition-timing-function: cubic-bezier(.3,0,0,1) !important;
	box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.homePageMoodCardR:hover {
    cursor: pointer;
    opacity: 1;
    background: #2a2a2a;
    border-width: 5px;
    border-style: solid;
    border-radius: 12px;
    border-color: var(--romantic);
    transition-property: transform box-shadow !important;
	transition-duration: 1s !important;
	transition-timing-function: cubic-bezier(.3,0,0,1) !important;
	box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.homePageMoodCardS:hover {
    cursor: pointer;
    opacity: 1;
    background: #2a2a2a;
    border-width: 5px;
    border-style: solid;
    border-radius: 12px;
    border-color: var(--serene);
    transition-property: transform box-shadow !important;
	transition-duration: 1s !important;
	transition-timing-function: cubic-bezier(.3,0,0,1) !important;
	box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.homePageMoodCardCh:hover {
    cursor: pointer;
    opacity: 1;
    background: #2a2a2a;
    border-width: 5px;
    border-style: solid;
    border-radius: 12px;
    border-color: var(--chill);
    transition-property: transform box-shadow !important;
	transition-duration: 1s !important;
	transition-timing-function: cubic-bezier(.3,0,0,1) !important;
	box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.homePageMoodCardG:hover {
    cursor: pointer;
    opacity: 1;
    background: #2a2a2a;
    border-width: 5px;
    border-style: solid;
    border-radius: 12px;
    border-color: var(--gloomy);
    transition-property: transform box-shadow !important;
	transition-duration: 1s !important;
	transition-timing-function: cubic-bezier(.3,0,0,1) !important;
	box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.homePageMoodCardA:hover {
    cursor: pointer;
    opacity: 1;
    background: #2a2a2a;
    border-width: 5px;
    border-style: solid;
    border-radius: 12px;
    border-color: var(--angry);
    transition-property: transform box-shadow !important;
	transition-duration: 1s !important;
	transition-timing-function: cubic-bezier(.3,0,0,1) !important;
	box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.homePageMoodCardHeart:hover {
    cursor: pointer;
    opacity: 1;
    background: #2a2a2a;
    border-width: 5px;
    border-style: solid;
    border-radius: 12px;
    border-color: var(--heartbreak);
    transition-property: transform box-shadow !important;
	transition-duration: 1s !important;
	transition-timing-function: cubic-bezier(.3,0,0,1) !important;
	box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.homePageMoodCardP:hover {
    cursor: pointer;
    opacity: 1;
    background: #2a2a2a;
    border-width: 5px;
    border-style: solid;
    border-radius: 12px;
    border-color: var(--productive);
    transition-property: transform box-shadow !important;
	transition-duration: 1s !important;
	transition-timing-function: cubic-bezier(.3,0,0,1) !important;
	box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.homePageCardHappy,
.homePageCardEnergetic,
.homePageCardRomantic,
.homePageCardSerene,
.homePageCardChill,
.homePageCardGloomy,
.homePageCardAngry,
.homePageCardHeartbreak,
.homePageCardProductive {
    width: 170px;
    height: 170px;

    border-radius: 12px;
    /* border-width: 5px;
    border-style: solid;
    border-color:  #171717; */
}

.homeCardImageText {
    margin-bottom: 0;
    font-size: 16px;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    font-weight: 600;
    color: white;
}
