.sidebar {
    background-color: #000;
    width: 240px !important;
    /* width: 25%; */
    height: 100vh;
    z-index: 3;
}

.sidebar-logo {
    color: #b3b3b3;
    padding-left: 8px;
    /* font-family: 'Gotham Medium'; */
}

.sidebar-ul {
    color: #b3b3b3;
    list-style: none;
    padding-left: 8px;
}

.sidebar-li {
    color: #b3b3b3;
}

.sidebar-navlink {
    color: #b3b3b3;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar-navlink-text {
    color: #b3b3b3;
    padding-left: 5px;
}

.sidebar-new-playlist {
    color: #b3b3b3;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sidebar-playlists {
    color: #b3b3b3;

}

.sidebar-playlists-ul {
    color: #b3b3b3;
    list-style: none;
    padding-left: 8px;
}

.fa-solid.fa-magnifying-glass {
    color: #b3b3b3;
}

.fa-solid.fa-house {
    color: #b3b3b3;
}


/* add on hover font turns white */
.sidebar-playlists-li:hover {
    color: white;
}

.sidebar-new-playlist:hover {
    color: white;
}

.sidebar-navlink:hover .fa-solid.fa-magnifying-glass {
    color:white;
}

.sidebar-navlink:hover .fa-solid.fa-house {
    color:white;
}

.sidebar-navlink:hover .sidebar-navlink-text {
    color:white;
}

/* .sidebar-li:hover .sidebar-navlink {
    color: white;
} */


/* .fa-solid.fa-house .sidebar-navlink-text:hover {
    color: white;
} */

/* .fa-solid.fa-magnifying-glass:hover{
    color: white;
}  */
